@import url('https://fonts.googleapis.com/css2?family= Josefin +Sans:wght@700 & display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*onde vai ficar os cards, ajustar*/
body{
  min-height: 100vw;
  background-color: rgb(56, 54, 54);
}

.containercomida{
display: flex;
justify-content:center ;
align-items: center;
gap: 100px 50px;
flex-wrap: wrap;
}

.containercomida .card{
  padding-top: 10px;
  top:10px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  position: relative;
  width:350px;
  height: 300px;
  background-color:transparent;
  box-shadow: 0 35px 80px;
  border-radius: 9px;
  transition: .5s;
}

.containercomida .card:hover{
  height: 400px;
}

.containercomida .card .imgcomida{
  top:20px;
  position: absolute;
  width: 300px;
  height: 220px;
  transition: .5s;
  border-radius: 12px;
  overflow: hidden;
}
.containercomida .card .imgcomida img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containercomida .card .conteudocomida{
  text-align: center;
  position: absolute;
  top:250px;
  width: 100%;
  height: 35px;
  /*overflow: hidden;*/
  transition: .5s;
  padding: 0 30px;
  overflow: hidden;
}
.containercomida .card:hover .conteudocomida{
  top: 150px;
  height: 250px;
}
.containercomida .card .conteudocomida h2{
  font-family: 'Poppins', sans-serif;
font-size: 1.5 rem;
font-weight: 700;
line-height:3rem;
color:var(--cor);
}

.containercomida .card .conteudocomida p{
font-style: italic;
color: gray;
}
.containercomida .card:hover .imgcomida {
top:-100px;
scale: .75;
box-shadow: 0 15px 15px rgb(0, 0, 0);
}

.containercomida .card .conteudocomida a{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px ;
  text-decoration: none;
  background:var(--cor) ;
  border-radius: 10px;
  color:#fff;
}





@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
 
.menu-pedidos li{
  scroll-behavior: smooth;
  margin-top: 20px;
  text-align: center;
list-style-type:none;
}
.menu-pedidos li{
  cursor: pointer;
  transition: 0.2s ease;
  opacity: 0.7;
}

.pedidostext h3{
  font-style: italic;
  font-family:'Arial Narrow', sans-serif;
margin-top: 0;
text-align: center;
font-size: 4vw;
color:brown;
transition: 0.5s;
}
.pedidostext h3:hover{
  transform: scale(1.5em);
}
body #itens .itensclass .containercomida{
display: flex;
justify-content:center ;
align-items: center;
gap: 100px 50px;
flex-wrap: wrap;
}

body #itens .itensclass .containercomida .card{
  padding-top: 10px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  position: relative;
  width:350px;
  height: 300px;
  background-color: aliceblue;
  box-shadow: 0 30px 30px rgb(212, 212, 212);
  border-radius: 9px;
  transition: .5s;
}

body #itens .itensclass .containercomida .card:hover{
height: 400px;
}

body #itens .itensclass .containercomida .card .imgcomida{
top:20px;
position: absolute;
width: 300px;
height: 220px;
transition: .5s;
border-radius: 12px;
overflow: hidden;
}
body #itens .itensclass .containercomida .card .imgcomida img{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

body #itens .itensclass .containercomida .card .conteudocomida{
text-align: center;
position: absolute;
top:250px;
width: 100%;
height: 35px;
/*overflow: hidden;*/
transition: .5s;
padding: 0 30px;
overflow: hidden;
}
body #itens .itensclass .containercomida .card:hover .conteudocomida{
top: 150px;
height: 250px;
}
body #itens .itensclass .containercomida .card .conteudocomida h2{
font-size: 1.5 rem;
font-weight: 700;
line-height:3rem;
color:var(--cor);
}

body #itens .itensclass .containercomida .card .conteudocomida p{
color: gray;
}
body #itens .itensclass .containercomida .card:hover .imgcomida {
top:-100px;
scale: .75;
box-shadow: 0 15px 30px gray;
}

body #itens .itensclass .containercomida .card .conteudocomida a{
display: inline-block;
margin-top: 15px;
padding: 10px 20px ;
text-decoration: none;
background:var(--cor) ;
border-radius: 10px;
color:#fff;
}



